{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "airbnb/base",
        "eslint-config-prettier"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "eslint-plugin-prettier"
    ],
    "rules": {
        "semi": 0,
        "comma-dangle": 0,
        "prettier/prettier": "error",
        "react/react-in-jsx-scope": "off",
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}
