@use './breakpoint' as *;

// Colors
$gray-f1: #f1f6fd;
$gray-e1: #e1eaeb;
$gray-ed: #edf2fa;
$gray-5f: #5f5c5c;
$gray-f5: #f5f9ff;
$gray-d3: #d3d7e1;
$gray-99: #999999;
$dark-blue: #000646;
$blue: #0042e4;
$red: #ff0000;
$white: #fff;
$yellow: #fbbc04;

$input-field-background: $gray-f1;
$input-label: $gray-5f;
$primary-button-background: $blue;
$primary-button: $white;
$primary-button-hover-background: $yellow;
$secondary-button-background: $gray-ed;
$secondary-button: $gray-5f;
$secondary-button-hover: $white;
$secondary-button-hover-background: $blue;
$required: $red;

// Font
$default-fonts: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
$prompt: "Prompt", $default-fonts, sans-serif;
