.wrapper {
    .heading {
        text-align: center;
    }

    .bottom_heading {
        display: flex;

        .left_menu {
            flex: 1;
            direction: rtl;
        }

        .content {
            flex: 2;

            .form {
                padding: 50px;
                width: fit-content;
                border-top: 3px solid #f2f1f8;

                .field {
                    display: flex;
                    margin-bottom: 10px;

                    label {
                        text-align: end;
                        min-width: 200px;
                        line-height: 45px;
                    }

                    input,
                    select {
                        border: none;
                        height: 45px;
                        min-width: 450px;
                        margin-left: 30px;
                        padding: 0px 25px;
                        border-radius: 5px;
                        background-color: #f1f6fc;

                        &:focus {
                            outline: none;
                        }
                    }

                    .required:after {
                        color: red;
                        content: '\002A';
                        margin-left: 5px;
                    }

                    .error {
                        width: 100%;
                        color: red;
                        font-size: 14px;
                    }
                }

                button {
                    border: none;
                    width: 150px;
                    height: 50px;
                    color: white;
                    cursor: pointer;
                    margin-top: 20px;
                    font-weight: 600;
                    border-radius: 50px;
                    text-transform: uppercase;
                    background-color: #0142e4;
                }
            }
        }
    }
}
