.wrapper {
    .heading {
        text-align: center;
    }

    .bottom_heading {
        display: flex;

        .left_menu {
            flex: 1;
            direction: rtl;
        }

        .content {
            flex: 2;

            .form {
                padding: 50px;
                width: fit-content;
                border-top: 3px solid #f2f1f8;
            }
        }
    }
}
